/* @layer base {
  :root {
    --text: #0a1f1e;
    --background: #ffffff;
    --primary: #0e7490; */
/* --primary: #42cdc1; */
/* --secondary: #8fe5dc;
    --accent: #6ae2d8;
  } */
/* .dark {
    --text: #e0f5f4;
    --background: #091212;
    --primary: #32bdb2;
    --secondary: #1a7067;
    --accent: #1d958b;
  }
} */

@layer base {
  :root {
    --text: #0b1113;
    --background: #f9fbfb;
    --primary: #0e7490;
    --secondary: #a19fc6;
    --accent: #4ecef9;
  }
  .dark {
    --text: #ecf2f4;
    --background: #293838;
    --primary: #6fd5f1;
    --secondary: #3b3960;
    --accent: #0686b1;
  }
}

/* :root {
  --text: rgb(26, 10, 10);
  --background: rgb(252, 248, 248);
  --primary: rgb(116, 22, 25);
  --secondary: rgb(221, 152, 155);
  --accent: rgb(117, 164, 204);
}
.dark {
  --text: rgb(245, 229, 229);
  --background: rgb(7, 3, 3);
  --primary: rgb(233, 139, 142);
  --secondary: rgb(103, 34, 38);
  --accent: rgb(51, 97, 138);
} */

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #0e7490 */
